
body{
  margin:0;
  background:#111;
  font-family:monospace;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.terminal{
  width:750px;
  background:black;
  border-radius:10px;
  overflow:hidden;
  box-shadow:0 0 40px black;
}

.topbar{
  background:#2b2b2b;
  padding:10px;
  display:flex;
  gap:8px;
}

.btn{
  width:12px;
  height:12px;
  border-radius:50%;
}
.red{background:#ff5f56;}
.yellow{background:#ffbd2e;}
.green{background:#27c93f;}

.screen{
  padding:20px;
  height:400px;
  overflow-y:auto;
  color:#00ff88;
}

.input-line{
  display:flex;
}

.prompt{
  margin-right:5px;
  color:#58a6ff;
}

input{
  background:none;
  border:none;
  color:#00ff88;
  font-family:monospace;
  font-size:16px;
  outline:none;
  width:100%;
}
